/* =============================================================================
 * accessibility_widget
 * ========================================================================== */

#accessibility_widget {
	max-width: 650px;
	margin-left: auto; 
	margin-right: auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
	padding: 30px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.3rem;
}

#accessibility_widget i {
	display: inline-block;
	width: 35px;
}

#accessibility_widget .widget {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	overflow: hidden;
}

#accessibility_widget .widget label {
	width: 70%;
	float: left;
}

#accessibility_widget .input {
	width: 50px;
	display: inline-block;
	padding: 3px;
	font-size: 1.2rem;
}

#accessibility_widget .checkbox-container {
	float: right;
	width: 30%;
	text-align: right;
}

/* =============================================================================
 * acc_default_fonts
 * ========================================================================== */

body.acc_default_fonts h1,
body.acc_default_fonts h2, 
body.acc_default_fonts h3, 
body.acc_default_fonts h4, 
body.acc_default_fonts h5, 
body.acc_default_fonts h6, 
body.acc_default_fonts .ce_revolutionslider_text.bold, 
body.acc_default_fonts .font_headline, 
body.acc_default_fonts,
body.acc_default_fonts .font_serif_2, 
body.acc_default_fonts .font-serif-2 {
	font-family: Arial, Verdana, sans-serif;
}

/* =============================================================================
 * acc_fontsize
 * ========================================================================== */
 
html.acc_fontsize_1, body.acc_fontsize_1 {
	font-size: 17px;
}

html.acc_fontsize_2, body.acc_fontsize_2 {
	font-size: 19px;
}

html.acc_fontsize_3, body.acc_fontsize_3 {
	font-size: 21px;
}

html.acc_fontsize_4, body.acc_fontsize_4 {
	font-size: 22px;
}

html.acc_fontsize_5, body.acc_fontsize_5 {
	font-size: 24px;
}

html.acc_fontsize_-1, body.acc_fontsize_-1 {
	font-size: 14px;
}

html.acc_fontsize_-2, body.acc_fontsize_-2 {
	font-size: 13px;
}

html.acc_fontsize_-3, body.acc_fontsize_-3 {
	font-size: 12px;
}

html.acc_fontsize_-4, body.acc_fontsize_-4 {
	font-size: 11px;
}

html.acc_fontsize_-5, body.acc_fontsize_-5 {
	font-size: 10px;
}
 
/* =============================================================================
 * acc_boldface
 * ========================================================================== */

.acc_boldface * {font-weight: bold!important;}

/* =============================================================================
 * acc_focus
 * ========================================================================== */

.acc_focus *:focus {
	outline-style: solid;
	outline-color: red;
	outline-width: thick;
}