/* =============================================================================
 * acc_fontsize
 * ========================================================================== */
 
html.acc_fontsize_1, body.acc_fontsize_1 {
	font-size: 17px;
}

html.acc_fontsize_2, body.acc_fontsize_2 {
	font-size: 19px;
}

html.acc_fontsize_3, body.acc_fontsize_3 {
	font-size: 21px;
}

html.acc_fontsize_4, body.acc_fontsize_4 {
	font-size: 22px;
}

html.acc_fontsize_5, body.acc_fontsize_5 {
	font-size: 24px;
}

html.acc_fontsize_-1, body.acc_fontsize_-1 {
	font-size: 14px;
}

html.acc_fontsize_-2, body.acc_fontsize_-2 {
	font-size: 13px;
}

html.acc_fontsize_-3, body.acc_fontsize_-3 {
	font-size: 12px;
}

html.acc_fontsize_-4, body.acc_fontsize_-4 {
	font-size: 11px;
}

html.acc_fontsize_-5, body.acc_fontsize_-5 {
	font-size: 10px;
}