/* =============================================================================
 * defaults
 * ========================================================================== */
#container {
	background: #000;
}

body #main {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

body.acc_reverse_colors #accessibility_widget {
	background: #000;
}

/* =============================================================================
 * add your settings here
 * ========================================================================== */