/* =============================================================================
 * acc_focus
 * ========================================================================== */

.acc_focus *:focus {
	outline-style: solid;
	outline-color: red;
	outline-width: thick;
}